button{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  -webkit-border-radius:0px;
}

input, textarea {
  -webkit-border-radius:0px;
  -webkit-appearance: none;
  border-radius: 0;
}

input[type="button"] {
  -webkit-appearance: none;
  
}

body{
  overflow-x:hidden;
}

.App{
  background-color: rgb(26, 32, 52);
  width:100vw;
  min-height:100vh;
  display:flex;
  justify-content: center;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  -webkit-user-drag: none;
  
}

.app-container{
  margin-top: 10vh;
}

#title{
  color:rgba(255,255,255,0.5);
}

.p-text{
  color:rgba(255,255,255,0.67);
  max-width:20rem;
}