.mobile{
  .cell-button{
    width:2.5rem;
    height:2.5rem;
    // margin:0;
  }
  
  .cell-row{
    height:2.5rem;
  }
  
  .mine-img{
    position:absolute;
    width:1.5rem;
    margin-left:-.75rem;
    margin-top: -.6rem;
  }
  
  .flag-img{
    position:absolute;
    width:1.5rem;
    margin-left:-.75rem;
    margin-top: -.75rem;
  }
  
  .explosion-img{
    position:absolute;
    width:1.5rem;
    margin-left:-.75rem;
    margin-top: -.75rem;
  }
  
  .cell-number{
    position:absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: 900;
    margin-left:.75rem;
    margin-top: -.6rem;
  }
  
  .cell-clicked{
    position:absolute;
    background-color: rgba(0,0,0,0.25);
    width:2rem;
    height:2rem;
    margin-left:.1rem;
    margin-top: -1rem;
  }
}